@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply font-sans antialiased bg-gray-100 text-gray-800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #root {
    @apply min-h-screen;
  }
}

@layer components {
  /* Custom component styles can be added here */
}

@layer utilities {
  /* Custom utility classes can be added here */
}

